.container {
  display: flex;
  flex-direction: column;
  width: 100px
}

.title {
  color: black;
  background-color: lightgray;
  height: 50px;
}

.footer {
  background-color: red;
  height: 80px;
}